[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/in_place_editing"]
	path = vendor/plugins/in_place_editing
	url = git://github.com/rails/in_place_editing.git
